<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.megha.main_project">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">
        <activity android:name=".First_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Sign_in_mainclass"></activity>
        <activity android:name=".ServiceHandler"></activity>
        <activity android:name=".Sign_up_dialog"></activity>
    </application>

</manifest>
