<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.megha.drytickets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/drylogo" android:theme="@style/AppTheme" >
        <activity android:name=".Activities.First_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Sign_in_mainclass"></activity>
        <activity android:name=".Activities.Now_on_sale_firstpage"></activity>
        <activity android:name=".Activities.Sign_up_mainclass"></activity>
        <activity android:name=".Activities.SingleItemView"></activity>
        <activity android:name=".Activities.Ticket_booking"></activity>
        <activity android:name=".Activities.Artist_information"></activity>
        <activity android:name=".Activities.Artist_detail_information"></activity>
    </application>
</manifest>
